.category-label {
  margin-top: 8px;
  font-size: 14px;
  display: inline-block;
  padding: 3px 8px 4px;
  background-color: #B0D5ED;
  border-radius: 30px;
  color: #fff;

  &.-other {
    background-color: #B1E3D4;
  }

  &.-media {
    background-color: #59ADBE;
  }
  
  &.-rectuit {
    background-color: #615C8F;
  }

  &.-corporate {
    background-color: #F47A7A;
  }

  &.-portfolio {
    background-color: #FAA878;
  }
  &.-landing {
    background-color: #FFE17D;
  }
}