@font-face {
  font-family: "TT_Norms_Pro_Light";
  src: url("../fonts/TT_Norms_Pro_Light.otf");
}
@font-face {
  font-family: "TT_Norms_Pro_ExtraLight";
  src: url("../fonts/TT_Norms_Pro_ExtraLight.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');