body {
  font-family: "TT_Norms_Pro_Light",'Noto Sans JP', sans-serif, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  color: #252525;
}

a {
  color: #252525;
  text-decoration: none;
}